# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Databases / Cache
# =========================
*.sqlite
*.db
dump.rdb

# =========================
# Docker volumes
# =========================
docker-data/
docker-volume/
**/data/

# =========================
# .NET build artifacts
# =========================
**/bin/
**/obj/

# =========================
# Claude
# =========================
.claude/
