# Dart / Flutter
.dart_tool/
.packages
build/

# Flutter version manager
.fvm/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/app/build/
android/key.properties
android/local.properties
